@import url(@/assets/styles/fonts.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Ubuntu';
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171717;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.highlight {
  @apply text-primary;
}
